/*Links em geral*/
a {
  color: orangered;
  text-decoration: none;  /*Tira o sublinhado do link*/
 }

/*Links já visitado*/
a:visited {
   /* color: green;*/
   color: green; /* Cor 50% mais escura*/
}
a:hover {
    /*color: orange;*/
    filter: brightness(150%); /* cor 20% mais brilhante*/
    text-decoration: underline /*Volta o sublinhado*/;
}